@rendermode InteractiveServer

<div class="navmenu">
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="applications" Icon="@(new Icons.Regular.Size20.Apps())" IconColor="Color.Accent">Applications</FluentNavLink>
            <FluentNavLink Href="users" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">Users</FluentNavLink>
            <FluentNavLink Href="groups" Icon="@(new Icons.Regular.Size20.PeopleTeam())" IconColor="Color.Accent">Groups I Own</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
